In [1]:
def my_introduction():
    print("Hello, my name is Harry")
    print("I live and work in Dallas")

In [2]:
my_introduction()

Hello, my name is Harry
I live and work in Dallas

In [5]:
def introduction(name):
    print("Hello, my name is ", name)
    print("I live and work in Dallas")

In [6]:
introduction("Lily")

Hello, my name is  Lily
I live and work in Dallas

In [7]:
introduction("Ali")

Hello, my name is  Ali
I live and work in Dallas

In [8]:
def general_introduction(name, city):
    print("Hello, my name is ", name)
    print("I live and work in ", city)

In [9]:
general_introduction("John", "Dublin")

Hello, my name is  John
I live and work in  Dublin

In [10]:
def square(x):
    print("The square of %d is %d" % (x, x**2))

In [11]:
square(3)

The square of 3 is 9

In [12]:
square(1212)

The square of 1212 is 1468944

In [13]:
square("James")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [14]:
num = 25
square(num)

The square of 25 is 625

In [15]:
another_num = 100
square(num)
square(another_num)

The square of 25 is 625
The square of 100 is 10000

In [17]:
salary = 1000
expense = 300

def my_savings(a, b):
    print("My total savings:", salary - expense)

In [19]:
my_savings(1000, 300)

My total savings: 700

In [20]:
def my_actual_savings(a, b):
    print("My actual savings: ", a-b)

In [22]:
my_actual_savings(1000,500)

My actual savings:  500

In [23]:
my_actual_savings(4500, 2200)

My actual savings:  2300