In [5]:
def subtrahieren(n1, n2):
    result = n1 - n2
    print(result)

In [6]:
subtrahieren(10, 5)

5

In [7]:
Abziehen = subtrahieren(20, 10)

10

In [8]:
print(Abziehen)

None

In [9]:
type(Abziehen)

NoneType

In [10]:
def Subtrahieren_gibt_Ergebnis_zurück(n1, n2):
    Ergebnis = n1 - n2
    return Ergebnis

In [13]:
Subtrahieren_gibt_Ergebnis_zurück(100, 250)

-150

In [12]:
r = Subtrahieren_gibt_Ergebnis_zurück(33, 11)
print(r)

22

In [16]:
def find_max(some_list):
    
    lenght = len(some_list)
    max_nummer = some_list[0]
    
    for i in range(1, lenght):        
        if some_list[i] > max_nummer:
            max_nummer = some_list[i]
    
    return max_nummer

In [19]:
find_max(some_list=[10,14,17,19])

19

In [20]:
def find_maxx(some_list):
    
    lenght = len(some_list)
    max_element = some_list[0]
    
    for i in range(1, lenght):
        
        if some_list[i] > max_element:
            max_element = some_list[i]
            
    return max_element

In [22]:
find_maxx(some_list = [55,78,14,12,36,99])

99

In [25]:
some_list.append(120)

In [28]:
some_list.append(150)

In [29]:
max1 = find_maxx(some_list)
print(max1)

150

In [32]:
def feststellen_nummer(nummer):
    if nummer > 0:
        return "Positive!"
    elif nummer < 0:
        return "Negative!"
    else:
        return "Es ist null!"

In [33]:
feststellen_nummer(40)

'Positive!'

In [36]:
feststellen_nummer(0)

'Es ist null!'

In [37]:
def prep_dict(name, age, occupation):
    
    dict = {"name": name, "age": age, "occupation": occupation}
    return dict

In [40]:
info_dict = prep_dict("Ali", 29, "Engineer")

In [41]:
info_dict

{'name': 'Ali', 'age': 29, 'occupation': 'Engineer'}

In [43]:
def name_list(name, num_elements):
    
    my_list = []
    
    for i in range(num_elements):
        my_list.append(name)
    
    return my_list

In [44]:
some_list = name_list("Iris", 5)
some_list

['Iris', 'Iris', 'Iris', 'Iris', 'Iris']

In [45]:
def generate_list(name, items):
    return[name for i in range(items)]

In [46]:
new_list = generate_list('Sunflower', 4)

In [47]:
new_list

['Sunflower', 'Sunflower', 'Sunflower', 'Sunflower']

In [48]:
def add(a, b):
    return a + b

In [49]:
def sub(a, b):
    return a - b

In [50]:
def mul(a, b):
    return a * b

In [51]:
def div(a, b):
    return a / b

In [53]:
x = add(10, 14)
x

24

In [54]:
def calculate(a, b, operator):
    
    if operator == "add":
        return add(a, b)
    if operator == "sub":
        return sub(a, b)
    if operator == "mul":
        return mul(a, b)
    if operator == "div":
        return div(a, b)

In [55]:
calculate(3, 5, "mul")

15