13/5

In [1]:
cars_list = ['Toyata Camry', 'Honda Accord', 'Honda Civic', 'toyota Corolla']
cars_list

['Toyata Camry', 'Honda Accord', 'Honda Civic', 'toyota Corolla']

In [2]:
Cars_list[1]

NameError: name 'Cars_list' is not defined

In [3]:
cars_list[4]='Hyundai Electra'

IndexError: list assignment index out of range

In [4]:
cars_list.append('Hyndai Elantra')
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra']

In [5]:
cars_list.append('Nissan Sentra', 'Ford Focus')

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
len(cars_list)

5

In [7]:
cars_list.insert(6, 'Nissan Sentra')

In [8]:
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Sentra']

In [9]:
len(cars_list)

6

In [10]:
cars_list.insert(5, 'Nissan Altima')

In [11]:
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra']

In [12]:
cars_list.extend(['Kia Optima', 'Kia Soul'])
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [13]:
cars_list2 = ['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [14]:
cars_list2

['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [15]:
complete_cars_list = cars_list + cars_list2
complete_cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [16]:
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [17]:
compelete_cars_list.index('Honda Civic')

NameError: name 'compelete_cars_list' is not defined

In [18]:
complete_cars_list.index('Honda Civic')

2

In [19]:
complete_cars_list.index('hyndai Elentra
                         ')

SyntaxError: unterminated string literal (detected at line 1) (2235003022.py, line 1)

In [20]:
complete_cars_list.index('Hyndai Elentra')

ValueError: 'Hyndai Elentra' is not in list

In [21]:
complete_cars_list.index('Hyndai Elantra')

4

In [22]:
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [23]:
complete_cars_list.remove('Hyndai Elentra')

ValueError: list.remove(x): x not in list

In [24]:
complete_cars_list.index('Hyndai Elantra')

4

In [25]:
complete_cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [26]:
compelet_cars_list.remove('Hyndai Elantra')

NameError: name 'compelet_cars_list' is not defined

In [27]:
complete_cars_list.remove('Hyndai Elentra')

ValueError: list.remove(x): x not in list

In [28]:
complete_cars_list.remove('Hyndai Elantra')

In [29]:
complete_cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [30]:
cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Hyndai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [31]:
a=10
a+=1
a

11

In [32]:
compelete_cars_list +=['Chevrolet Cruze', 'Chevrolet Malibu']

NameError: name 'compelete_cars_list' is not defined

In [33]:
complete_cars_list += ['Chevrolet Cruze', 'Chevrolet Malibu']

In [34]:
complete_cars_list

['Toyata Camry',
 'Honda Accord',
 'Honda Civic',
 'toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [35]:
complete_cars_list.sort()

In [36]:
complete_cars_list

['Bugatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyata Camry',
 'toyota Corolla']

In [37]:
complete_cars_list.reverse()
complete_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [38]:
complete_cars_list.pop()

'Bugatti Veyron'

In [39]:
complete_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [40]:
complete_cars_list.append('Nissan Altima')
complete_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [41]:
complete_cars_list.count('Nissan Altima')

2

In [42]:
set(complete_cars_list)

{'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyata Camry',
 'toyota Corolla'}

In [43]:
print(cars_list)

['Toyata Camry', 'Honda Accord', 'Honda Civic', 'toyota Corolla', 'Hyndai Elantra', 'Nissan Altima', 'Nissan Sentra', 'Kia Optima', 'Kia Soul']

In [44]:
cars_list.clear()

In [45]:
cars_list

[]

In [46]:
complete_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [47]:
import copy

In [48]:
new_cars_list = copy.deepcopy(complete_cars_list)

In [49]:
new_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [50]:
del complete_cars_list

In [51]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [52]:
new_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [53]:
another_cars_list = new_cars_list

In [54]:
another_cars_list.remove('hennessey Venom GT')

ValueError: list.remove(x): x not in list

In [55]:
another_cars_list.remove('Hennessey Venom GT')

In [56]:
another_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [57]:
new_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [58]:
new_cars_list.remove('Nissan Sentra')

In [59]:
another_cars_list

['toyota Corolla',
 'Toyata Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']