In [1]:
my_string = ['H', 'e', 'l', 'l', 'o']
for letter in ['H', 'e', 'l', 'l', 'o'] :
    print(letter)

H
e
l
l
o

In [3]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [4]:
my_string = "Hello"
for char in my_string:
    print(char)

H
e
l
l
o

In [5]:
for digit in "10":
    print(digit)

1
0

In [6]:
for digit in 10:
    print(digit)

TypeError: 'int' object is not iterable

In [7]:
for country in "Germany", "Italy","France":
    print(country)

Germany
Italy
France

In [8]:
dogs = ("Pug", "Doberman", "Golden Retriever")
for dog in dogs:
    print(dog)

Pug
Doberman
Golden Retriever

In [13]:
dogs = (("Pug", 20), ("Doberman", 80), ("Golden Retriever", 50))
for i, (dog, weight) in enumerate (dogs):
    print("The dog in the index %d is a  %s and it weighs %s pounds"%(i, dog, weight))

it's 0sdog, its' breed Pug and its' weight 20 pounds
it's 1sdog, its' breed Doberman and its' weight 80 pounds
it's 2sdog, its' breed Golden Retriever and its' weight 50 pounds

In [14]:
friends =["Dincer", "Taha", "Ibo"]
for friend in friends:
    print("Frohes neues Jahr, %s!"%(friend))

Frohes neues Jahr, Dincer!
Frohes neues Jahr, Taha!
Frohes neues Jahr, Ibo!

In [16]:
student_scores = {"Christoph": 80,
                 "John": 70,
                 "Sam":50,
                 "Jill":90}
for score in student_scores:
    print(score)

Christoph
John
Sam
Jill

In [21]:
student = student_scores.keys()
print(student)
for student in student_scores:
    print(student)

dict_keys(['Christoph', 'John', 'Sam', 'Jill'])
Christoph
John
Sam
Jill

In [22]:
scores = student_scores.values()
print(scores)
for score in scores:
    print(score)

dict_values([80, 70, 50, 90])
80
70
50
90

In [29]:
for s in student_scores.items():
    print(s)

('Christoph', 80)
('John', 70)
('Sam', 50)
('Jill', 90)

In [30]:
for key in student_scores:
    print("Key value paar is -", key, "\t:\t", student_scores[key])

Key value paar is - Christoph 	:	 80
Key value paar is - John 	:	 70
Key value paar is - Sam 	:	 50
Key value paar is - Jill 	:	 90

In [33]:
for student, score in student_scores.items():
    print("Student:", student, "\t Score", score)

Student: Christoph 	 Score 80
Student: John 	 Score 70
Student: Sam 	 Score 50
Student: Jill 	 Score 90