In [2]:
my_range = range(5)
my_range

range(0, 5)

In [3]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [4]:
list(my_range)

[0, 1, 2, 3, 4]

In [5]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [8]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [9]:
for i in range ("c", "Y")

SyntaxError: expected ':' (2731792122.py, line 1)

In [30]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [13]:
x = list(range(5,10,2))
print(x)

[5, 7, 9]

In [19]:
y = list(range(5, -10, -2))
print(y)

[5, 3, 1, -1, -3, -5, -7, -9]

In [23]:
for i in range(1,10):
    if i % 2 == 0:
        print("%s can be divided by 2" % i)
    else :
        print("%s is not dividable by 2" % i)

1 is not dividable by 2
2 can be divided by 2
3 is not dividable by 2
4 can be divided by 2
5 is not dividable by 2
6 can be divided by 2
7 is not dividable by 2
8 can be divided by 2
9 is not dividable by 2

In [26]:
num_list = []

for i in range(1, 21):
    if i%3 == 0 or i%5 == 0:
        num_list.append(i)
        
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

In [35]:
for num1 in range(1, 10):
    print("Number = ", num1, " : ", end = " ")
    
    for num2 in range(1, 10):
        print("{:2d}".format(num1 * num2), end = " ")

    print()
    
#{:2d} specifies that the result should be formatted as a two-digit integer. If your result is a larger number, you can adjust the number in the format specifier accordingly.
# end= " " For döngüsü içindeki değeri aynı satırda yazdırmak için end parametresini kullanabilirsiniz. end parametresi, print fonksiyonu tarafından yazdırılan değerlerin sonuna hangi karakterin ekleneceğini belirler. Varsayılan olarak end parametresi \n (newline karakteri) olarak ayarlıdır, bu da her print çağrısının bir alt satıra geçmesine neden olur.

Number =  1  :   1  2  3  4  5  6  7  8  9
Number =  2  :   2  4  6  8 10 12 14 16 18
Number =  3  :   3  6  9 12 15 18 21 24 27
Number =  4  :   4  8 12 16 20 24 28 32 36
Number =  5  :   5 10 15 20 25 30 35 40 45
Number =  6  :   6 12 18 24 30 36 42 48 54
Number =  7  :   7 14 21 28 35 42 49 56 63
Number =  8  :   8 16 24 32 40 48 56 64 72
Number =  9  :   9 18 27 36 45 54 63 72 81

In [51]:
# liste icerisindeki liste nasil ayri listeler haline getirilir
companies = [['Volkswagen', 'Mercedes', 'BMW'], ['Honda', 'Toyota', 'Mazda']]

# For döngüsü ile alt listeleri sözlüğe ekle ve yazdır
for i, company_list in enumerate(companies, start=1):
    globals()["Liste{}".format(i)] = company_list
    print("Liste{}:".format(i), company_list)

Liste1: ['Volkswagen', 'Mercedes', 'BMW']
Liste2: ['Honda', 'Toyota', 'Mazda']

In [53]:
#Detayli adimlar
companies = [['Volkswagen', 'Mercedes', 'BMW'], ['Honda', 'Toyota', 'Mazda']]

# For döngüsü ile alt listeleri sözlüğe ekle ve yazdır
for i, company_list in enumerate(companies, start=1):
    print("\n{} Döngü Adımı:".format(i))
    
    # Liste adını oluştur ve yazdır
    list_name = "Liste{}".format(i)
    print("Liste Adı:", list_name)
    
    # Alt liste içeriğini globals() fonksiyonu ile dinamik olarak oluştur ve yazdır
    globals()[list_name] = company_list
    print("Liste İçeriği:", globals()[list_name])

# Son olarak oluşan Listeleri tekrar yazdır
print("\nOluşan Listelerin İçeriği:")
for i in range(1, len(companies) + 1):
    list_name = "Liste{}".format(i)
    print(list_name, ":", globals()[list_name])

1 Döngü Adımı:
Liste Adı: Liste1
Liste İçeriği: ['Volkswagen', 'Mercedes', 'BMW']

2 Döngü Adımı:
Liste Adı: Liste2
Liste İçeriği: ['Honda', 'Toyota', 'Mazda']

Oluşan Listelerin İçeriği:
Liste1 : ['Volkswagen', 'Mercedes', 'BMW']
Liste2 : ['Honda', 'Toyota', 'Mazda']

In [54]:
#sözlük olusturarak ayni islem nasil yapilir?
companies = [['Volkswagen', 'Mercedes', 'BMW'], ['Honda', 'Toyota', 'Mazda']]

# Boş bir sözlük oluştur
liste_sozluk = {}

# For döngüsü ile alt listeleri sözlüğe ekle
for i, company_list in enumerate(companies, start=1):
    liste_sozluk["Liste{}".format(i)] = company_list

# Sözlükteki değerleri yazdır
for key, value in liste_sozluk.items():
    print(key, ":", value)

Liste1 : ['Volkswagen', 'Mercedes', 'BMW']
Liste2 : ['Honda', 'Toyota', 'Mazda']

In [55]:
Liste1 = ['Volkswagen', 'Mercedes', 'BMW']
Liste2 = ['Honda', 'Toyota', 'Mazda']

# İki listeyi birleştirme
birlesik_liste = Liste1 + Liste2

# Birleştirilmiş listeyi yazdırma
print("Birleştirilmiş Liste:", birlesik_liste)

Birleştirilmiş Liste: ['Volkswagen', 'Mercedes', 'BMW', 'Honda', 'Toyota', 'Mazda']

In [57]:
# Leap years in 21st century
leap_years =[]
for i in range(2000, 2100):
    if i%4 == 0:
        leap_years.append(i)
        
print(leap_years)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]

In [62]:
companies = [['Volkswagen', 'Mercedes', 'BMW'], ['Honda', 'Toyota', 'Mazda']]
lits =[]
for car in companies:
    for i in car:
        lits.append(i)

print(lits)

['Volkswagen', 'Mercedes', 'BMW', 'Honda', 'Toyota', 'Mazda']