In [8]:
# Saving or debt
my_salary = int(input("Giben Sie Ihren Lohn ein: "))
my_spendings = int(input("Geben Sie Ihre Ausgaben ein: "))
my_saving = my_salary - my_spendings
if my_saving >0:
    print("Du hast da geschafft und so viel geld gesparrt: ", my_saving)
else:
    print("Du musst Geld ausleihen, um deine Rechnungen zu zahlen: circa {} €".format(abs(my_saving)))

Giben Sie Ihren Lohn ein: 100
Geben Sie Ihre Ausgaben ein: 200
Du musst Geld ausleihen, um deine Rechnungen zu zahlen: circa 100 €

In [15]:
# Strange calculation
num = int(input("Gib ein Nummer ein: "))

temp1 = str(num)
temp2 = temp1 + temp1
temp3 = temp1 + temp1 + temp1
total= num + int(temp2) + int(temp3)

print(temp1, ' + ', temp2, ' + ', temp3, ' = ',total )

Gib ein Nummer ein: 10
10  +  1010  +  101010  =  102030

In [17]:
#Quotinent and remainder
num_1 = int(input(" Gib eine Nummer ein: "))
num_2 = int(input(" Gib einen Teiler ein: "))

quotinent = int(num_1 / num_2)
remainder = int(num_1 % num_2)
print("\nQuotinent: ", quotinent)
print("\nRemainder: ", remainder)

 Gib eine Nummer ein: 50
 Gib einen Teiler ein: 8

Quotinent:  6

Remainder:  2

In [18]:
#simple interest
principle = float(input("Enter the principle amount: "))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the interest rate: "))

simp_int = (principle * time * rate) / 100
print("The simple interest is: ", simp_int)

Enter the principle amount: 5000
Enter the time(years): 5
Enter the interest rate: 4.0
The simple interest is:  1000.0

In [21]:
#swapping positions
cars_list = ["Honda Civic", "Honda Accord", "Toyota Camry", "Volkswagen Golf", "Volkswagen Polo"]

temp_car = cars_list[0]
cars_list[0] = cars_list[4]
cars_list[4] = temp_car

print("List of cars after the swap ", cars_list)

List of cars after the swap  ['Volkswagen Polo', 'Honda Accord', 'Toyota Camry', 'Volkswagen Golf', 'Honda Civic']

In [27]:
#multi-swap
cars_list = ["Honda Civic", "Honda Accord", "Toyota Camry", "Volkswagen Golf", "Volkswagen Polo"]
print('\n', cars_list)
cars_list[0], cars_list[1], cars_list[3], cars_list[4] = cars_list[3], cars_list[4], cars_list[1], cars_list[0]
print('\n', cars_list)

 ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Volkswagen Golf', 'Volkswagen Polo']

 ['Volkswagen Golf', 'Volkswagen Polo', 'Toyota Camry', 'Honda Accord', 'Honda Civic']

In [28]:
#dublicates in list?
list_str = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]
len_list_str = len(list_str)
len_set_list_str = len(set(list_str))
if len_list_str == len_set_list_str:
    print("There is no dublicate in list.")
else : print("There is {} dublicate in this list.".format(len_list_str - len_set_list_str))

There is 2 dublicate in this list.

In [29]:
# odd or even number
num = int(input("Geben Sie eine Nummer ein: "))

if (num % 2) == 0:
    print("{} ist gerade Zahl",format(num))
else :
    print("{} ist ungerade Zahl".format(num))

Geben Sie eine Nummer ein: 5
5 ist ungerade Zahl

In [39]:
values = input("Geben Sie einige durch comma getrennte Werte ein: ")

list_values = values.split(",")
tuple_values = tuple(list_values)

print("Values in a list: ", list_values)
print("Values in a tuple: ", tuple_values)

Geben Sie einige durch comma getrennte Werte ein: 11, 12
Values in a list:  ['11', ' 12']
Values in a tuple:  ('11', ' 12')
Unable to convert the entire list to an integer. Individual elements should be converted.