In [1]:
salary=24000
salary

24000

In [2]:
house=10000
food_exp=5000

In [3]:
house_rent

NameError: name 'house_rent' is not defined

In [4]:
house

10000

In [5]:
total_expense = house_rent + food_exp
total_expense

NameError: name 'house_rent' is not defined

In [6]:
total_expense = house + food_exp
total_expense

15000

In [7]:
savings = salayr - total_expense

NameError: name 'salayr' is not defined

In [8]:
savings = salary - total_expense

In [9]:
savings

9000

In [10]:
print(" My montly savings: " + savings)

TypeError: can only concatenate str (not "int") to str

In [11]:
print(" My montly savings: ", savings)

 My montly savings:  9000

In [12]:
x = true

NameError: name 'true' is not defined

In [13]:
x = True
y = False

In [14]:
Print("x and y is: ", x and y)

NameError: name 'Print' is not defined

In [15]:
print("x and y is: ", x and y)

x and y is:  False

In [16]:
print("x and y is: ", x or y)

x and y is:  True

In [17]:
print('not x is: ', not x)

not x is:  False

In [18]:
print('not y is: ' not y)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1451882986.py, line 1)

In [19]:
print('not y is: ', not y)

not y is:  True

In [20]:
x = "awesome"
x

'awesome'

In [21]:
print("Python is " + x)

Python is awesome

In [22]:
x = "awesome"
y = "Python is "

In [23]:
z = x + y

In [24]:
print(z)

awesomePython is

In [25]:
z = y + x

In [26]:
print(z)

Python is awesome

In [27]:
a = z * 4
print(z)

Python is awesome

In [28]:
print(a)

Python is awesomePython is awesomePython is awesomePython is awesome

In [29]:
len(z)

17