In [1]:
if 10 < 15:
    print('10 is greater than 15')

10 is greater than 15

In [5]:
if 46 > 45:
print('46 is greater than 45')

IndentationError: expected an indented block after 'if' statement on line 1 (1748776748.py, line 2)

In [6]:
my_string = "Hello python world"

In [7]:
if  'python' in my_string:
    print("Yes, 'python' is in my string")

Yes, 'python' is in my string

In [8]:
list_student = ["Ayden", "Gavin", "Ian", "Jose", "Jane"]
list_student

['Ayden', 'Gavin', 'Ian', 'Jose', 'Jane']

In [9]:
if 'Jose' in list_student:
    print("Jose is a student")

Jose is a student

In [10]:
if 'eva' in list_student:
    print("eva is Student")

In [11]:
student_score = {"Ayden":60, "Gavin":85, "Ian":76, "Jose":70, "Jane":82}
student_score

{'Ayden': 60, 'Gavin': 85, 'Ian': 76, 'Jose': 70, 'Jane': 82}

In [18]:
if 'Ian' in student_score:
    print("Ian is in student score dictionary and his note is ", student_score['Ian'])

Ian is in student score dictionary and his note is  76

In [19]:
if "Jane" in student_score:
    print("Jane's score: ", student_score["Jane"])

Jane's score:  82